.pagination {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 20px auto 0;
}

.navButton,
.pageButton {
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black_414141);
  font-size: 18px;
  line-height: normal;
  border-radius: 10px;
  border: 1px solid transparent;
  background: transparent;
}

.pageNumbers {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pageButton {
  font-weight: 500;
}

.active {
  background: var(--brand_99C08E);
  color: var(--white_FFFFFF);
}

@media (max-width: 768px) {
  .pagination,
  .pageNumbers {
    gap: 4px;
  }

  .navButton,
  .pageButton {
    min-width: 34px;
    height: 34px;
    font-size: 14px;
  }
}
