.header {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}
.title {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}
.longTitle {
  display: block;
}
.closeBtnDesktop {
  position: absolute;
  top: 0;
  right: 0;

  padding: 8px 12px;
  color: var(--green_text_578246);
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  background: none;
  border: none;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;
}
.closeBtnMobile {
  display: none;

  padding: 6px 0;
  color: var(--green_text_578246);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background: none;
  border: none;
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 16px;
  }
  .title {
    font-size: 18px;
  }
  .footer {
    display: flex;
    gap: 8px;

    margin-top: 24px;
  }
  .closeBtnDesktop {
    display: none;
  }
  .closeBtnMobile {
    display: block;
  }
}
