.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionTitle {
  font-size: 30px;
  font-weight: 700;
  color: var(--black_414141);
}

.recentGrid,
.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
}

.cardGrid {
  align-content: start;
  min-height: 500px;
}

.controlsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.controlsRow > :first-child {
  flex: 1;
  max-width: 335px;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .sectionTitle {
    font-size: 28px;
  }

  .controlsRow > :first-child {
    max-width: 214px;
  }

  .recentGrid,
  .cardGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .section {
    gap: 20px;
  }

  .sectionTitle {
    font-size: 24px;
    color: var(--black_414141);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .controlsRow {
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }

  .controlsRow > :first-child {
    max-width: none;
    width: 100%;
  }

  .controlsRow > :last-child {
    align-self: flex-end;
  }

  .recentGrid,
  .cardGrid {
    grid-template-columns: 1fr;
  }
}
