/* 타이틀 */
.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* 소개 및 포인트 */
.descWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

@media (max-width: 768px) {
  .titleContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
