.wrapper {
  margin-bottom: 80px;
}

.focusWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 500;
}

.timerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  padding: 40px 24px;
  border-radius: 20px;
  border: 1px solid var(--gray_DDDDDD);
  background: var(--white_FFFFFF);
}

.timerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 482px;
}

/* 태블릿 */
@media (max-width: 1024px) {
  .focusWrapper {
    gap: 40px;
  }
}

/* 모바일 */
@media (max-width: 767px) {
  .focusWrapper {
    gap: 24px;
  }

  .timerWrapper {
    padding: 24px 16px;
    gap: 17px;
  }

  .timerHeader {
    gap: 16px;
  }

  .spinnerContainer {
    min-height: 334.375px;
  }
}
