/* 인터랙션 */
.ixWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 스터디 */
.introWrapper {
  margin-bottom: 40px;
  margin-top: 24px;
}

/* 습관 기록표 */
.innerWrapper {
  width: 100%;
  min-height: 510px;
  border-radius: 20px;
  border: 1px solid var(--gray_DDDDDD);
  background: var(--white_FFFFFF);

  padding: 24px;
}

.tableTitle {
  font-size: 24px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .innerWrapper {
    overflow-x: scroll;
  }

  .tableTitle {
    font-size: 18px;
  }
}
